@charset "UTF-8";

/* 헤더부분 reco이름부분 */
header{
  font-family: "나눔고딕", NanumGothic,Dotum,"돋음",sans-serif;
}
/* reco부분 감싸고 있는 박스와 */
.headerbox,.menu,.menu_item{
  margin:0;
  padding:0;
  display: block; margin: 0 auto;
}
.a{
  color: inherit;
  text-decoration: none;
}
.headerbox{
  background-color: orange;
  height:120px;
 
}
.headertext
{
  width:1080px;

  font-weight: bold;
  font-size: 85px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  
}

/* 로그인 고객센터 버튼 있는 곳 감싸는 태그 */
.login_item{
  position: absolute;
  top: 20px; 
  right: 1%;
  
  padding-right: 0.05px;
}

/* 로그인 회원 가입 버튼 있는 곳 감싸는 ul태그  */
.login{
  list-style:none;
  margin:0;
  padding:0;
  display: table;
  text-decoration: none;
}
/* 로그인 회원 가입 각 버튼  */
.log_link{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  
}


.login li{
  display: table-cell;
  padding-right: 30px;
  
  
}

/* 로그인 회원가입 부분 커서 갖다대면 효과 */
.log_li:hover .log_link{
  background-color: skyblue;
  font-weight: bolder;
  
}




.link{
  text-decoration: none;
  color: #000;
}

/* movie food 등 메뉴바  */

/* 메뉴바 회색부분  */
.wrap{
  max-width:2000px;
  margin:14px;
  margin:0 auto;
  background-color: lightgray;
  display: block;

}
.menu{
  display: table;
  table-layout:fixed;
 
  list-style:none;
  width:1080px;

}

.menu_item{
  display: table-cell;
  list-style:none;
 
}
.menu_link {
  display: block;
  
  border: 1px none;
  font-size: 100px
  color#000;
  text-align:center;
  line-height:36px;
  margin-left:40px;
  margin-right:40px;
  text-decoration:none;
}

/* 메뉴와 관련 */
.menu_item{
  display: table-cell;
  list-style:none;
 
}


.menu_item + .menu_item .menu_link {
    margin-left: 14px;
}


/* 메뉴바 커서 대면 효과 */
.menu_item:hover .menu_link {
    font-weight: bold;
    border-color: #454545;

}


/* 메뉴바 커서 대면 효과 */
.menu_item:hover .yellow {
    background-color: gray;

}

/* 컨텐츠의 왼쪽부분, 즉 FAQ등 메뉴 있는 곳 */
.aside{
   
  float: left;
  width: 11%;
  background-color: cornsilk;
  /* height: 100%; */
  height: 250vh;
}

/* 왼쪽 FAQ 등 메뉴 있는 부분의 COMMUNITY글자 */
h2{
  text-align: center;
}


/* 옆의 메뉴 ui */
.aisde_menu{
  list-style:none;
  text-decoration: none;
  /* padding-right: 20px; */
  padding: 20px;
}
/* 옆의 메뉴 li */
.aside_in_menu{
  border:5px solid lightseagreen;
  /* padding-left: 10px;
  padding-right: 10px; */
  border-radius: 20px;
  margin-bottom: 70px;
  font-size: 14px;
  padding: 17px 18px 16px 18px;
  cursor: pointer;
  text-align: -webkit-match-parent;
 
}
.aside_in_menu>a:-webkit-any-link {
  border: 1px none black; 
  color: black;
  text-decoration: none; 
  font-weight: bolder;
}




.aside_in_menu:hover .aside_button{
  color:  brown;
  font-weight: bolder;
}



/* 오른쪽에 있는 컨텐츠 부분 감싸는 태그 */
.container{
   
  display: block;
  width: 100%;
  margin: -100 auto;
  min-height: 100%;
  padding: 50px 0;
  
  position: relative;
     
        
}


.container:after{
    display: block;
    clear: both;
    content: '';
    
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 100px;
}

/* 컨텐츠의 오른쪽부분  */
.contents{
    float: left;
    
    width: 89%;
    background-color: #fff;
    border-left: 5px dotted orange;
    height: 250vh;
    box-sizing: border-box;
    
    
}
.contents:after{
    width: 10px;
    background-color: orange;
    content: '';
}




/* 자유게시판 컨텐츠 부분 */
.community_contents{
  border-right:1px solid lightgray;
  border-left:1px solid lightgray;
  border-bottom:1px solid lightgray;
 
  border-top: none;
    
  margin:0 auto;
 
  width: 90%;
  font-size: 20px;
  height: 80vh;

}

/* 자유게시판 컨텐츠 부분의 td */
.community_contents td{
    border-top: 1px solid lightgray;
}

  
/* 댓글부분 */
/* 이전글, 다음글과 댓글부분 전체 감싸는 틀 */
.comment_contents{
  text-align: center;
}

/* 댓글부분 */
ul li{
  list-style: none;
  border-bottom: 1px dotted silver;
  
  
}
/* 원댓글 */
.re_reply{
  padding-left: 60px;
}
/* 원댓글과 대댓글의 닉네임 */
.tit_nickname{
  max-width: 120px;
    margin-right: 5px;
    font-size: 14px;
}
/* 원댓글과 대댓글의 날짜 */
.txt_date{
  font-family: applesdgothicneo-ultralight;
    margin-top: 3px;
    /* float: left; */
   
    font-size: 12px;
    color: #a7a7a7;
}

/* 댓글부분 전체 감싸는 틀과 댓글 내용 및 대댓글 내용 */
.area_reply .txt_reply .re_txt_reply{
  line-height: 19px;
  padding-top: 2px;
    display: block;
    padding-top: 4px;
    font-size: 13px;
    line-height: 21px;
    color: #5c5c5c;
    clear: both;
    
   
}

.comment{
  -webkit-appearance: none;
  text-rendering: auto;
  letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    
}

.comment_form .comment{
  display: block;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    margin:0 auto;

    margin-top: 20px;
}
.comment_button{
  margin-top: 5px;
  margin-left: 67px;
  padding: 0px;
  overflow: visible;
  background: transparent;
  
  appearance: auto;
  
 
  
}

li{
  font-family: applesdgothicneo-light;
    margin-top: 4px;
    overflow: hidden;
    display: block;
    line-height: 1.5;
    color: #666;
    padding: 13px 15px 12px;
    min-height: 30px;
    display: list-item;
   
}

.comment_submit{
  font-size: 15px;
  cursor: pointer;

}

.comment_menu{
  margin-top: 20px;
  margin-left: 1100px;
  margin-bottom: 30px;
}

.comment_contents{
  border:1px solid gray;
    
  margin:0 auto;
  
  width: 90%;
  font-size: 15px;
  /* height: 70vh; */

}
.comment_contents{
  border-left: 1px dotted lightgray;
  border-right: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  border-top: none;
}

.comment_contents td{
  border-top: 1px dotted lightgray;
}
 







/* footer부분  */
footer{

  width:100%;
  text-align:center;
  flex-direction:column_reverse;
  overflow:scroll;
}
address{
  color:gray;
  font-style: normal;
}

/* 위쪽은 캘린더와 동일  */
html,body, section{
    height: 100%;

} 



