
@charset "UTF-8";

/* header */
header{
  font-family: "나눔고딕", NanumGothic,Dotum,"돋음",sans-serif;
}


.headerbox,.menu,.menu_item{
  margin:0;
  padding:0;
  display: block; margin: 0 auto;
}
.a{
  color: inherit;
  text-decoration: none;
}

/* reco를 감싸고 있는 오렌지색 박스 부분 */
.headerbox{
  background-color: orange;
  height:120px;
  /* text-align: center;
  margin: 0 auto;
   */
  
}
/* reco 있는 부분  */
.headertext
{
  width:1080px;

  font-weight: bold;
  font-size: 85px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  
}
.login_item{
  position: absolute;
  top: 0.03px; 
  right: 1%;
  
  padding-right: 0.05px;
}
.login{
  list-style:none;
  margin:0;
  padding:0;
  display: table;
  text-decoration: none;
}
.log_link{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  
}
.login li{
  display: table-cell;
  padding-right: 30px;
  
  
}
.link{
  text-decoration: none;
  color: #000;
}

.wrap{
  max-width:2000px;
  margin:14px;
  margin:0 auto;
  background-color: lightgray;
  

}
.menu{
  display: table;
  table-layout:fixed;
  /* width:100%; */
  list-style:none;
  width:1080px;

}

.menu_item{
  display: table-cell;
  list-style:none;
 
}
.menu_link {
  display: block;
  
  border: 1px none;
  font-size: 100px
  color#000;
  text-align:center;
  line-height:36px;
  margin-left:40px;
  margin-right:40px;
  text-decoration:none;
}


/* 로그인 회원가입 부분 커서 갖다대면 효과 */
.log_li:hover .log_link{
  background-color: skyblue;
  font-weight: bolder;
  
}

.menu_item + .menu_item .menu_link {
    margin-left: 14px;
}



.menu_item:hover .menu_link {
    font-weight: bold;
    border-color: #454545;

}



.menu_item:hover .yellow {
    background-color: gray;

}


input{
  text-align: center;
}


input{
  background-color: lightgray;
}

fieldset{
  border-color: orange;
  border-width: 10px;
  margin-top: 40px;

}
table {
  margin: 0px auto;
  font-size: 20px;
}

/* 취소, 확인버튼 묶음  */
div 

{
  margin-top: 30px;
  
  text-align: center;

}
/* 취소, 확인 버튼  */
.button .button_cancel{
  font-size: 15px;
}
/* 회원탈퇴 버튼 */
#membership{
  margin:0 auto;
  display: block;
  font-size: 30px;
  
}
/* h1{
  text-align: center;
} */

footer{
  position: relative;
  width:100%;
  text-align:center;
  margin-bottom:30px;
  margin-top: 30px;
}
address{
  color:gray;
  font-style: normal;
}


