
@charset "UTF-8";

/* 분류, 제목, 작성자 전체를 감싸는 부분 */
div.brdDetail{
	/* margin:40px; */
	margin: 0 auto;
	
	width: 1400px;
	display: block;
	border-left: 5px dotted orange;
  	border-right: 5px dotted orange;	
	height: 100%;
}

h1{
	font-size: 30px;
	margin-left: 205px;
	margin-top: 40px;
}

ul.brdDetail{
     list-style-type: none;
     /* padding-left: 0px; */
     border:1px #77af9c solid;
     width:70%;
	 margin: 0 auto;
	
 }

 /* 글번호 */
 .brdIdx, .brdType{
	margin-top: 10px;
 }

 /* 작성자 작성일 조회수 */
.brdUNickname, .brdCreateAt, .brdViews{
	float: left;
	padding-right: 10px;

}
/*제목 부분 */
div.brdDetail>ul.brdDetail>li>div.brdTitle{
	font-size: 20px;
}

/*내용 부분 */
div.brdDetail>ul.brdDetail>li>div.brdContent{
	
	height:400px;
	font-size: 30px;
	position: relative;
	top: 30px;	
	
}

div.brdDetail>div.BoardDetailButton{
	margin-left: 55%;
}


div.brdDetail>div.BoardDetailButton>button{
	background-color:white;
	 border: 2px solid #77af9c;
	 padding:10px;
	 margin:10px;
	 position: relative;
	 left: 153px;
}

div.brdDetail>div.BoardDetailButton>button:hover{
     color: black;
     letter-spacing: 2px;
     transform: scale(1.2);
     cursor: pointer;
     font-weight: bold;
}


div.community_comment>div.comment_modify_input>input{
	display:none;
}


