
@charset "UTF-8";

/* 분류, 제목, 작성자 전체를 감싸는 부분 */
.community_wrap{
  width: 1000px;
  margin: 0 auto;
  text-align: center;


}
/* /* 분류, ~날짜 */
.community_contents{
  float: left;
  padding-right: 5px;
  font-size: 20px;
  /* margin: 0 auto;
  text-align: center; */

}
/* 내용, 첨부파일 있는 곳 */
.community_contents1{
  float: left;
  padding-right: 5px;
  font-size: 20px;

}

button{
  position: relative;
  top: 60px;
  right: 60px;
}


/* comment size 댓글수 있는 곳 */
.size{
  position: relative;
  top:163px;
  left: -350px;
 }
/* 댓글란 textarea 감싼 div */
.textarea{
 text-align: center;
  
}
/* 댓글란 */
textarea{
  width: 1000px;
  height: 100px;
  resize: none;

}
/* 댓글부분  */
.community_comment{
  margin: 0 auto;
  width: 300px;
  border:1px solid black;
  text-align: center;
  /* padding-bottom: 2px; */
  padding-bottom: 0.1px;
}
