
@charset "UTF-8";

/* 분류, 제목, 작성자 전체를 감싸는 부분 */
.community_wrap{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  
  border-left: 5px dotted orange;
  border-right: 5px dotted orange;


}
.community_wrap1{
  width: 1000px;
  margin: 0 auto;
  text-align: center;

}
/* /* 분류, ~날짜 */
.community_contents{
  float: left;
  padding-right: 5px;
  font-size: 20px;
  /* margin: 0 auto;
  text-align: center; */

}
/* 내용, 첨부파일 있는 곳 */
.community_contents1{
  float: left;
  padding-right: 5px;
  font-size: 20px;

}

.board_list,.board_modify, .board_remove{
  position: relative;
  top: 45px;
  right:750px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.comment_content_button {
  position: relative;
  left: 420px;
  margin-top: 5px;

}
.comment_add{
  position: relative;
  left: 455px;

}

/* comment size 댓글수 있는 곳 */
.size{
  position: relative;
  top:10px;
  left: 10px;
 }
/* 댓글란 textarea 감싼 div */
.textarea{
 text-align: center;
  
}
/* 댓글란 */
textarea{
  margin-top: 40px;
  width: 1000px;
  height: 100px;
  resize: none;

}
/* 댓글부분  */
.community_comment{
  margin: 0 auto;
  width: 1000px;
  border:1px dotted gold;
  /* padding-bottom: 2px; */
  padding-bottom: 0.1px;
  background-color: lightblue;
  height: 100px;
}

.cmt{
  position: relative;
  float: left;
  font-size: 12px;
  margin-right: 5px;

}

