@charset "UTF-8";



/* 오른쪽에 있는 컨텐츠 부분 감싸는 태그 */

.container{
   
  display: block;
  width: 90%;
  
  margin: 0 auto;
 
  position: relative;
  height: 100vh;
  border-left: 5px dotted orange;
  border-right: 5px dotted orange;
     
     
    
}
.container:after{
    display: block;
    clear: both;
    content: '';
    /* width: 100%; */
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 100px;
}





/* 컨텐츠 부분  */



.contents{
  width: 90%;
  background-color: #fff;
  
  height: 90vh;
  box-sizing: border-box;
  margin: 0 auto;
  
  
}
.contents:after{
  width: 10px;
  background-color: black;
  content: '';
}

section>div.container>div.contents>div.accordion>div>p{
	font-size: 15px;
}



/* FAQ글자  */
h1.faq{
	text-align:center;
  margin-left: 180px;
  font-size: 40px;
}

/* 자주묻는 질문 컨텐츠 부분  start*/
.accordion {
  position:absolute;
  top:10%;left:60%;
  
  transform:translateX(-60%);
  width:1000px;
}


input[id*="answer"] {
  display:none;
}
input[id*="answer"] + label {
  display:block;
  padding:20px;
  border:1px solid #232188;border-bottom:0;
  color:black;
  font-weight:900;
  background: orange;
  cursor:pointer;position:relative;
}
input[id*="answer"] + label em {
  position:absolute;
  top:-140%;right:20px;
  width:30px;
  height:30px;
  margin-top:100px;
  display:inline-block;
  background:url("../images/arrow.png") no-repeat;
}
input[id*="answer"] + label + div {
  max-height:0;transition: all .35s;
  overflow:hidden;
  background:#ebf8ff;
  font-size:11px;
}
input[id*="answer"] + label + div p {
  display:inline-block;
  padding:20px;
}
input[id*="answer"]:checked + label + div {
  max-height:100px;
}
input[id*="answer"]:checked + label em {
  background-position:0 -30px;
}


